{% extends 'discoauth/base.html' %}
{% load static %}

{% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6 p-5 shadow-lg bg-white rounded" style="border-radius: 5px; margin-top: 15%" Style="padding:2rem">
      <form onsubmit="sendPasswordResetLink(event)" id="resetPasswordForm">
        <h4 class= "mb-0 text-bold text-warning" style="font-family:sans-serif">Forgot your password?</h4>
        <p Class="mt-5">Please Enter your Email address and we will send you an email with instructions to reset your password.</p>
        <div class="form-group">
          <input type="email" class="form-control password; mt-4"id="email" placeholder="Email" name="email" required>
        </div>
        <button type="submit" class="btn btn-warning" style="font-family:sans-serif" id="submitButton"><b>Reset Password</b></button>
	<button type="button" class="btn btn-success text-" style="font-family:sans-serif" id="goBackLoginButton" onclick="window.location.href='{%url "discoauth:login"%}'" hidden><b>Back To Login</b></button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static "js/forgot-password.js" %}" type="text/javascript"></script>
{% endblock extra_js %}
