{% extends 'student-portal/base.html' %}
{% load static %}

{% block page-content %}

<div class="login">
    <!-- <div class="d-flex align-items-center" style="min-height: 100vh"> -->
        <div class="col-sm-8 col-md-6 col-lg-4 mx-auto mt-5" style="min-width: 300px;">
            <div class="card navbar-shadow">
                <div class="card-header text-center">
                    <h4 class="card-title">Forgot Your Password?</h4>
                    <p class="card-subtitle">No worries! We have sent you a mail through which you can reset your
                        password</p>
                </div>
                <div class="card-body">
                    <div class="alert alert-light border-1 border-left-3 border-left-primary d-flex" role="alert">
                        <i class="material-icons text-success mr-3">check_circle</i>
                        <div class="text-body">{{message|safe}}</div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
{% endblock page-content %}

{% block page-internal-drawer %}
{% include 'student-portal/page-drawer.html' %}
{% endblock page-internal-drawer %}
