{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>DISCOG Portal</title>
    <!-- fonts start -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- font ends here -->
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
	  media="screen">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/in-progress-module.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all-completed-modules.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <!-- Page specific CSS -->
    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <!--<div class="hide-message-after-5-seconds">
      {% block messages %}
      {% endblock %}
    </div>-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% if request.user.is_student %}
      <a class="navbar-brand" href="{% url 'student-dashboard' %}">
	<img src="{% static 'img/logo/logodsc.png' %}" width="40" height="40" class="d-inline-block align-top img-fluid"
	     alt="">
      </a>
      {% elif user.is_admin %}
      <a class="navbar-brand" href="/dashboard">
	<img src="{% static 'img/logo/logodsc.png' %}" width="40" height="40" class="d-inline-block align-top img-fluid"
	     alt="">
      </a>
      {% endif %}
      <h5 class="float-left mb-0 font-weight-bold nav-bar-head-font">{% if request.user.is_authenticated %} Completed Modules{% endif %}</h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav ml-auto">
	  {% if request.user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true"
	       style="border-left: solid 1px #b9b8b8;">Logout</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    <div class="h-100 container-fluid">
      <div class="border-bana-backpage p-1">
	<small>
	  <a href="{% url 'student-dashboard' %}" class="text-center back-link-font-color">
	    < Back To Home Page
	      </a>
	</small>
      </div>
      
      {% for module in modules %}
      <div class="accordion" id="completed-modules-accordian">
												    
	<div class="card">
	  
	  <div class="card-header" id="module-{{module.id}}" onclick="ModuleFeedback({{module.id}}, {{ request.user.id }})" style="padding:.3rem 0.1rem;">
	    <h5 class="mb-0">
	      <button class="btn btn-link module-heading" type="button" data-toggle="collapse" data-target="#module-data-{{module.id}}" aria-expanded="true" aria-controls="module-data-{{module.id}}">
		{{module.title|title}}
	      </button>
	    </h5>
	  </div>
	  <div id="module-data-{{module.id}}" class="collapse" aria-labelledby="module-{{module.id}}" data-parent="#completed-modules-accordian">
	    <div class="card-body lessons-card">
	      {% for lessons in module_lessons %}
	      {% if lessons.module.id == module.id %}
	      <h5 class="lesson-heading">Lesson {{forloop.counter}} - {{lessons.lesson_name}}</h5>
	      {% for task in lesson_tasks %}
	      {% if task.lesson.id == lessons.id %}
	      <ul style="list-style-type:none;">
	  	<li class="tasks-name">Task {{forloop.counter}} - {{task.task_name}}</li>
              </ul>
	      {% endif %}
	      {% endfor %}
	      {% endif %}
	      {% endfor %}
	      <label for="file-{{module.id}}" hidden><b>Review File:<b></label>
	      <button id="file-{{module.id}}" type="button" class="btn btn-sm btn warning" onclick="" data-toggle="modal" data-target="#fileviewModal" style="background-color:#ffca12; margin-left:5px;" hidden><b>View</b></button>
	      <label for="comment-{{module.id}}"><b>Review Comment:<b></label>
	      <p id="comment-{{module.id}}">
	      </p> 
	    </div>
	  </div>
	</div>
	{% endfor %}
	<div id="fileviewModal" class="modal fade" role="dialog">
	  <div class="modal-dialog" style="width: 70% !important; height: 100% !important; max-width: none !important;">

	    <!-- Modal content-->
	    <div class="modal-content" style="height: 100% !important;">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div id="file-view-area" class="modal-body">
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	    
	  </div>
	</div>
    <!--<footer class="footer" style="position:fixed;">
      <div class="container text-left float-left">
	<small>Copyright &copy; All Rights Reserved by DiscoG Coding Academy</small>
      </div>
    </footer>-->

    <!-- jQuery first, then Bootstrap JS. -->
    <!-- Optional Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
	    type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/all-completed-modules.js' %}" type="text/javascript"></script>
    {% block extra_js %}
    {% endblock %}
  </body>

  </html>
