{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>DISCOG LMS | Assignments Dashboard</title>
    <!-- fonts start -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- font ends here -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSE\
												     sQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
	  media="screen">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
    <link rel="stylesheet" href="{% static 'css/in-progress-module.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all-completed-modules.css' %}" />
    <link rel="stylesheet" href="{% static 'css/assignments-dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <!-- Page specific CSS -->
    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'portal:dashboard' %}">
	<img src="{% static 'img/logo/logodsc.png' %}" width="40" height="40" class="d-inline-block align-top img-fluid"
             alt="">
      </a>
      <h5 class="float-left mb-0 font-weight-bold nav-bar-head-font">
	Assignments Dashboard
      </h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'discoauth:logout' %}" tabindex="-1" aria-disabled="true"
               style="border-left: solid 1px #b9b8b8;">Logout</a>
          </li>
          {% endif %}
	</ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    <div class="row h-100 container-fluid row-margin">
      
      <div class="col-md-3 column3-class">
	
	<div class="filter-panel row">
	  
          <div class="border-bana p-1 filter-panel-items-width" style="border: solid 1px #ced4db; margin-bottom: 0rem;">
            <small class="filter-panel-heading">
	      <a href="{% url 'portal:dashboard' %}" class="text-center back-link-font-color" style="color: #037afb;">  Back To Admin Dashboard </a>
	    </small>
	  </div>
	  
	  <div style="width: 100%; border: solid 1px #ced4db; margin-top: 5px;">
	    
	    <form style="padding:2rem;">
	      
	      <div class="form-group">
		<label for="searchByParenntName"><b>Search By Student Name</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByStudentName" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>

	      <div class="form-group">
		<label for="searchByParentId"><b>Search By Student ID</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text"style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByStudentId" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>

	      <div class="form-group">
		<label for="searchByStudentName"><b>Search By Student Type</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByStudentType" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>

	      <div class="form-group">
		<label for="searchByStudentId"><b>Search By Current Assignment</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByCurrentAssignment" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>

	      <div class="form-group">
		<label for="searchByStudentType"><b>Search By Previous Assignment</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByPreviousAssignment" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>

	      <div class="form-group">
		<label for="searchByStudentType"><b>Search By Next Assignment</b></label>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" style="background-color: #f9ca33"><i class="fas fa-search"></i></span>
		  </div>
		  <input type="text" class="form-control" id="searchByNextAssignment" placeholder="Search" oninput="search_table(event)">
		</div>
	      </div>
	      
	    </form>
	  </div>

	  <div class="border-bana p-1 filter-panel-items-width-height" style="border: solid 1px #ced4db;" hidden>

	    <p>
              <h6 class="filter-panel-heading"><b>Filters</b></h6>
            </p>

	    <div class="card">
	      
              <div class="card-body" style="Padding:1rem">
		
		<form id="active-status-filter">
                  <label class="radio-inline filter-label-y">
                    <input type="radio" name="optradio" value="activated">&nbsp;Activated
		  </label>
		  <label class="radio-inline filter-label-n" style="padding-left: 70px;">
		    <input type="radio" name="optradio" value="deactivated">&nbsp;Deactivated
		  </label>
		</form>
		
		<form id="next-task-filter">
		  <label class="radio-inline filter-label-y">
		    <input type="radio" name="optradio" value="next-task-yes">&nbsp;Next Task (Y)
		  </label>
		  <label class="radio-inline filter-label-n" style="padding-left: 43px;">
		    <input type="radio" name="optradio" value="next-task-no">&nbsp;Next Task (N)
		  </label>
		</form>
		
		<form id="current-task-filter">
		  <label class="radio-inline filter-label-y">
		    <input type="radio" name="optradio" value="current-task-yes">&nbsp;Current Task (Y)
		  </label>
		  <label class="radio-inline filter-label-n" style="padding-left: 23px;">
		    <input type="radio" name="optradio" value="current-task-no">&nbsp;Current Task (N)
		  </label>
		</form>
		
		<form id="pending-task-filter">
		  <label class="radio-inline filter-label-y">
		    <input type="radio" name="optradio" value="pending-task-yes">&nbsp;Pending Task (Y)
		  </label>
		  <label class="radio-inline filter-label-n" style="padding-left:18px">
		    <input type="radio" name="optradio" value="pending-task-no">&nbsp;Pending Task (N)
		  </label>
		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      
      <div class="col-md-9 column9-class">
	
	<div class="table-panel row scroll-class">
	  
	  <div class="border-bana p-1 table-panel-items-width" style="border: solid 1px #ced4db;">
	    <small class="table-panel-heading">All records</small>
	  </div>
	  
	  <div class="border-bana p-1 table-panel-items-width-height"
               style="border: solid 1px #ced4db; margin-top: 0.25rem;">
	    <br>
	    <table id="assignments-dashboard-table" class="table table-bordered table-responsive w-100"></table>
	  </div>
	  
	</div>
	
      </div>
      
    </div>
    
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
	    type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/assignment.js' %}" type="text/javascript"></script>
    {% block extra_js %}
    {% compress js %}
    {% endcompress %}
    {% endblock %}
  </body>
  
</html>
