{% extends 'dashboard/base.html' %}

{% load static %}


{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6 border-bana p-5" style="border-radius: 5px; margin-top: 15%" Style="padding:2rem">
            <!-- Form -->
            <form class="form-example"action="" method="post">
                <h4 class= "mb-0" style="font-family:sans-serif;text-align:center;color:rgb(255,202,18);"><b>Forgot your password?</b></h4>
                <h6 Class="mt-5">Please Enter your e-mail address and we will send you a link to reset your password.</h6>
                <div class="form-group">
                    <input type="email" class="form-control password; mt-4"id="email" placeholder="Email" name="email">
                </div>
                <button type="button" onclick="sendPasswordResetLink()" class="custom-btn" style="border:navajowhite; margin-top:25px; padding:0.5rem; font-family:sans-serif;"><b>Reset Password</b></button>
                <!-- End input fields -->
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const sendPasswordResetLink = () => {
        let cookie = getCookie('csrftoken');
        const email = $("#email").val();

        $.ajax({
            url: '/api/v1/send-reset-password-link',
            type: 'post',
            headers: {'X-CSRFToken': cookie},
            data: {'email': email},
            success: (e) => {
                createNotification('info', 'We have mailed you a password reset link')
            },
            error: (e) => {
                createNotification('error', 'Something went wrong please try again')
            }
        });
    }
</script>
{% endblock %}
