{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6 p-5 shadow-lg bg-white rounded">
      <!-- Form -->
      <form onsubmit="resetPassword(event)">
        <h4 class="text-warning text-wrap-bold">Reset password</h4>
        <div class="form-group mt-5" hidden>
          <label for="password-reset-hash">Password Reset Code/Hash</label>
          <input type="text" class="form-control" id="password-reset-hash" placeholder="Password Reset Hash" name="password-reset-hash">
        </div>
        <div class="form-group; mb-0; mt-3">
          <label>New Password</label>
          <input class="form-control" type="password" id="password" placeholder="Password" required>
        </div>
        <div class="form-group; mb-0; mt-3">
          <label>Confirm New Password</label>
          <input class="form-control" type="password" id="confirm-password" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-warning text-wrap-bold mt-5">Reset Password</button>
        <!-- End input fields -->
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(event){
      var hash = new URLSearchParams(window.location.search);
      if (hash !== null){
          $("#password-reset-hash").val(hash.get('hash'))
      }
  });
  const cookie = getCookie('csrftoken');
  function resetPassword(event){
      // method used to reset the password using an
      // API call.
      event.preventDefault();
      let password_hash = $("#password-reset-hash").val();
      let password = $("#password").val();
      let confirm_password = $("#confirm-password").val();
      if(password == confirm_password){
	  $.ajax({
              url: '/api/v1/reset-password',
              type: 'post',
              headers: {'X-CSRFToken': cookie},
	      beforeSend: function(xhr, settings){
	      },
              data: {'password-hash': password_hash,
		     'password': password},
              success: function(data){
		  createNotification('success', 'Your password has been reset, You will be automatically redirected to the Login Page.')
		  setTimeout(function(){
		      window.location.href = "/auth/login";
		  }, 3000);
              },
              error: function(xhr, request, error){
		  createNotification('error', 'This link is either invalid or has expired')
              }
	  });
      }
      else{
	  createNotification('error', "Password and confirm password fields didn't match")
      }
  }
</script>
{% endblock %}
