{% extends 'dashboard/base.html' %}
{% load static %}
{% load compress %}
{% block page_title %}
{% if title %}{{title}}{% endif %}
{% endblock page_title%}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
<link rel="stylesheet" href="{% static 'css/assignments-dashboard.css' %}" />
{% endblock extra_css %}
{% block page_js%}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="{% static 'js/review-students.js'%}"></script>
{% endblock page_js %}

{% block content %}
<div style="padding:0.25rem; margin-bottom: 18px;">
  <small class="ml-1">
    <a href="{% url 'portal:dashboard' %}" class="text-center">
      < Back To Home Page
	</a>
  </small>
</div>

<div class="border-bana p-1 table-panel-items-width" style="border: solid 1px #ced4db;">
  <small class="table-panel-heading">
    All records
  </small>
</div>
<br>
<div>
  <div class="border-bana" style="border: solid 1px #ced4db; margin-top: 0.25rem; margin-left:20px; margin-right:20px; padding: 24px 37px;">
    <table id="student-detail-table" class="table table-bordered table-responsive" style="margin-left:auto; margin-right:auto;"></table>
  </div>
</div>
{% endblock content %}
